div.schedule(ng-controller="ScheduleController")
   | {{ schedule.Items.Count() }}
   div.schedule__column(ng-repeat="(key, value) in schedule.Items")
      div.schedule__column__date
         | {{ key }}
      div.schedule__column__item(ng-repeat="item in value")
         | {{ item.Title }}